*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
    }
    

#form{
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}

.section{
    margin-bottom: 130px;
}




.img-banner{
    background-size: 100vh;
    width: 100%;
    height: auto;
}


.botones{
    background-color: #8C1C6E;
    border-color: #8C1C6E;
    color: white;
    border-radius: 5px;
    padding-left:35px;
    padding-right:35px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    margin-top: 30px;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.botones:hover{
    background-color: #8C2E2E;
    border-color: #8C2E2E;
    color: white;
    border-radius: 5px;
    padding-left:35px;
    padding-right:35px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    margin-top: 30px;
}

@media only screen and (max-width: 320px) {
    .botones{
        font-size: 12px;
    }
  }

  @media only screen and (max-width: 280px) {
    .botones{
        padding-left:20px;
        padding-right:20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
  }

.footer{
    background-color: black;
    padding:20px;
    height: 100%;
    width: 100%;
}


.logo-footer{
    width: 8rem;
    height: auto;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


